<div class="col-12 bg-gray-100" *ngIf="model.actionStatus.alternateName !== 'PotentialActionStatus'">
  <div class="py-2">
    <h4>
      <h5 class="text-secondary">{{'ActionStatusTypes.' + model.actionStatus.alternateName | translate}}</h5>
    </h4>
    <h4>
      <h5 class="text-secondary"><span>{{'Requests.RequestNumber' | translate}}</span>:&nbsp;<span>{{model.requestNumber}}</span></h5>
    </h4>
    <div class="pb-2 text-secondary">
      <span>
        <span [translate]="'CreatedAt'"></span>&nbsp;<span>{{model.dateCreated | date: 'short'}}</span>
      </span>
      <span class="ml-2">
        <span [translate]="'ModifiedAt'"></span>&nbsp;<span>{{model.dateModified | date: 'short'}}</span>
      </span>
    </div>
  </div>
</div>

<ng-template #invalidPeriod>
  <div class="text-center" *ngIf="loading === false">
    <div class="mt-5">
      <div class="icon-circle bg-warning border-gray-100"></div>
    </div>
    <div class="mt-4">
      <h4 *ngIf="studentHousingCard === true" class="font-lg font-weight-normal text-dark"
        [translate]="'UniversisHousingModule.StudentHousingCardExists'"></h4>
      <h4 *ngIf="housingRequestEvent != null && housingRequestEvent.valid === false && housingRequestEvent.started === true"
        class="font-lg font-weight-normal text-dark" [translate]="'UniversisHousingModule.RequestPeriodExpired'"></h4>
      <h4 *ngIf="housingRequestEvent != null && housingRequestEvent.valid === false && housingRequestEvent.started === false"
        class="font-lg font-weight-normal text-dark" [translate]="'UniversisHousingModule.RequestPeriodNotStarted'"
            [translateParams]="{
              dateStart: housingRequestEvent?.validFrom | date: 'shortDate',
              dateEnd: housingRequestEvent?.validThrough | date: 'shortDate'
            }"></h4>
        <h4 *ngIf="housingRequestEvent == null" class="font-lg font-weight-normal text-dark"
          [translate]="'UniversisHousingModule.NoHousingRequestEvent'"></h4>
    </div>
  </div>
</ng-template>

<ng-container [ngSwitch]="housingRequestEvent != null && housingRequestEvent.valid && studentHousingCard === false">
  <ng-container *ngSwitchCase="true">

    <tabset #tabset class="col-12 tab-navbar tab-container">

      <tab (select)="onSelectTab($event)"
      heading="{{'UniversisHousingModule.PersonalInformation' | translate}}" id="personal-information">
        <ng-container *ngIf="formAction != null">
          <advanced-form-edit #form1 (change)="onDataChange($event)" (customEvent)="onCustomEvent($event)" [(data)]="model" [formName]="formAction">
          </advanced-form-edit>
        </ng-container>
      </tab>
      <tab heading="{{'UniversisHousingModule.HousingDocuments' | translate}}"
            [disabled]="model.actionStatus.alternateName === 'PotentialActionStatus'"
            id="attach-documents" (select)="onSelectAttachDocuments()">
        <div class="col-12" *ngIf="model.actionStatus.alternateName === 'PotentialActionStatus'">
          <div class="alert alert-primary" role="alert">
            {{'UniversisHousingModule.TemporarySaveMessage' | translate}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="alert alert-warning" role="alert">
            <p class="text-dark">
            {{'UniversisHousingModule.HousingClubAttachmentNote' | translate}}
          </p>
          </div>
        </div>
        <ng-container *ngIf="documents && documents.length">
          <div class="col-12">
            <p class="text-secondary">
              {{'UniversisHousingModule.AttachDocumentMessage' | translate}}
            </p>
          </div>
          <ng-container *ngFor="let document of documents | filterBy: ['attachmentType'] ;let i= index">
            <div class="col-12">
              <div class="mb-4 mt-4">
                <h4 class="text-secondary">{{i+1}}. {{document.attachmentType.name}}
                  <span class="font-weight-normal text-lowercase text-secondary">
                    ({{document.numberOfAttachments}} {{(document.numberOfAttachments === 1 ? 'UniversisHousingModule.DocumentsSubmission.HousingDocumentToUpload' : 'UniversisHousingModule.DocumentsSubmission.HousingDocumentsToUpload') | translate}})
                  </span>
                </h4>
              </div>
              <ngx-dropzone class="mt-2" [multiple]="document.numberOfAttachments > 1" [disableClick]="document.attachments.length >= document.numberOfAttachments"
                [accept]="'application/pdf'"
                (change)="onFileSelect($event, document.attachmentType)">
                <ngx-dropzone-label style="z-index: 0" class="p-2">
                  <div *ngIf="document.attachmentType">{{document.attachmentType.description ||
                    document.attachmentType.name}}</div>
                  <div>{{'UniversisHousingModule.DocumentsSubmission.UploadDocument' | translate}} (*.pdf)</div>
                </ngx-dropzone-label>
                <ngx-dropzone-preview *ngFor="let attachment of document.attachments"
                  [removable]="model.actionStatus && model.actionStatus.alternateName === 'PotentialActionStatus'"
                  (removed)="onFileRemove(attachment)">
                  <ngx-dropzone-label>{{ attachment.name }} ({{ attachment.contentType }})
                  </ngx-dropzone-label>
                </ngx-dropzone-preview>
              </ngx-dropzone>
            </div>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="documents && documents.length === 0">
          <div class="text-center">
            <div class="mt-5">
              <div class="icon-circle bg-gray-200 border-gray-100"></div>
            </div>
            <div class="mt-4">
              <h4 *ngIf="model.actionStatus.alternateName === 'PotentialActionStatus'" class="font-3xl font-weight-normal text-gray-300"
                [translate]="'UniversisHousingModule.EmptyDocumentListContinue'"></h4>
                <h4 *ngIf="model.actionStatus.alternateName !== 'PotentialActionStatus'" class="font-3xl font-weight-normal text-gray-300"
                [translate]="'UniversisHousingModule.EmptyDocumentList'"></h4>
            </div>
          </div>
        </ng-container>
        <div class="col-12 mb-4 mt-4">
          <div class="d-flex justify-content-end">
            <button (click)="submit()" *ngIf="(housingRequestEvent != null && housingRequestEvent.valid == true) && (model.actionStatus.alternateName === 'PotentialActionStatus')"
              [disabled]="documentState === 'invalid'"
              class="ml-2 btn btn-success btn-lg" [translate]="'UniversisHousingModule.Submit'" type="button"></button>
          </div>
        </div>
      </tab>
      <ng-container *ngIf="messages">
        <tab id="messages" [active]="showMessagesTab === true">
          <ng-template tabHeading>
            <i class="far fa-comments"></i><span class="pl-2">{{'UniversisHousingModule.Messages.Title' | translate}}</span>
          </ng-template>
          <div class="alert alert-primary" role="alert">
            <p class="text-dark">
            {{'UniversisHousingModule.Messages.Info' | translate}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </p>
          </div>
          <div class="mt-4">
            <ng-container *ngIf="messages">
              <legend ref="header">
                <span [translate]="'UniversisHousingModule.Messages.Title'"></span>
                <ng-container *ngIf="messages.length">
                  <button
                    *ngIf="!showNewMessage && model && model.actionStatus && (model.actionStatus.alternateName === 'PotentialActionStatus' || model.actionStatus.alternateName === 'ActiveActionStatus')"
                    type="button" (click)="showNewMessage = true"
                    class="ml-2 btn btn-sm btn-default text-indigo d-inline text-lowercase"
                    title="{{'UniversisHousingModule.Messages.NewMessage' | translate}}">
                    <i class="fas fa-paper-plane"></i>
                    <span class="ml-2" [translate]="'UniversisHousingModule.Messages.NewMessage'"></span>
                  </button>
                </ng-container>
              </legend>
              <ng-container  *ngIf="showNewMessage">
                <app-compose-message (submit)="send(newMessage)" (cancel)="showNewMessage = false" [(model)]="newMessage">
                </app-compose-message>
              </ng-container>
              <div class="card" *ngFor="let message of messages">
                <div class="card-body">
                  <div *ngIf="message.sender !== model.owner" class="text-indigo mb-2">{{'UniversisHousingModule.Messages.IncomingMessage' | translate}}</div>
                  <div>
                    <span class="float-right text-dark">{{ message?.dateCreated | date:'short' }}</span>
                    <div class="card-title  font-lg font-weight-normal pb-1">
                      <span *ngIf="message.subject == null" [translate]="'UniversisHousingModule.Messages.NoSubject'"></span>
                      <span *ngIf="message.subject != null">{{message.subject}}</span>
                    </div>
                  </div>
                  <div class="card-text mb-0 pb-2 border-left border-left-4 border-gray-200 pl-4"
                    [innerHTML]="message.body"></div>
                  <div *ngIf="message?.attachments.length>0" class="mt-2">
                    <button type="button" class="btn btn-light" (click)="downloadAttachment(message?.attachments[0])">{{
                      'Reports.Viewer.Download' | translate }}</button>
                  </div>
                </div>
              </div>
              <div class="card" *ngIf="messages.length === 0">
                <div class="card-body">
                  <h4 class="text-secondary font-weight-normal mb-0">
                    <span [translate]="'UniversisHousingModule.Messages.NoMessages'"></span>
                    <button
                      (click)="showNewMessage = true"
                      *ngIf="!showNewMessage && model && model.actionStatus && (model.actionStatus.alternateName === 'PotentialActionStatus' || model.actionStatus.alternateName === 'ActiveActionStatus')" class="float-right btn btn-default text-indigo text-lowercase"
                      title="{{'UniversisHousingModule.Messages.NewMessage' | translate}}" type="button">
                      <i class="fas fa-paper-plane"></i>
                      <span [translate]="'UniversisHousingModule.Messages.NewMessage'" class="ml-2"></span>
                    </button>
                    </h4>
                </div>
              </div>

            </ng-container>
          </div>
        </tab>
      </ng-container>

    </tabset>
  </ng-container>
  <ng-container *ngSwitchCase="false" [ngTemplateOutlet]="invalidPeriod"></ng-container>
</ng-container>
