<ul class="nav d-flex mb-2" *ngIf="showNavigation">
  <li class=" tab-brand disabled">
    <a class="text-secondary nav-link pl-0 font-lg" [routerLink]="['/candidates', 'list']">
      <i class="fa fa-chevron-left pr-1"></i><span
        [translate]="'NewRequestTemplates.HousingRequestAction.Name'"></span></a>
  </li>
</ul>
<ng-container>
<div class="col-12" *ngIf="model">
  <div class="row mb-2">
    <div class="col-auto">
      <h2 class="mb-0 pt-2">{{ 'NewRequestTemplates.HousingRequestAction.Name' | translate}}
        <h5>{{model.student.person.givenName}} {{model.student.person.familyName}}</h5>
      </h2>

    </div>
    
    <div *ngIf="showActions" class="col-auto px-2 py-0 ml-auto">
      <div class="btn-group">
        <div class="btn-group">
          <ng-container>
            <button *ngIf="model.agent != null" [ngClass]="{disabled: model.actionStatus.alternateName === 'PotentialActionStatus'}" class="btn btn-indigo" (click)="claim()">{{'Requests.Edit.claim' | translate }}: <span [ngStyle]="{'color': (model.agent != null && model.agent.name != user.name) ? 'red': null }"><b> {{model.agent.name}}</b></span></button>
            <!-- agent cannot claim request when the request is potential -->
            <button *ngIf="model.agent == null" [ngClass]="{disabled: model.actionStatus.alternateName === 'PotentialActionStatus'}" (click)="claim()" class="btn btn-indigo" [translate]="'Requests.Edit.claim'"></button>
          </ng-container>
        </div>
      </div>
      <div class="btn-group ml-2">
        <ng-container *ngIf="model.effectiveStatus == null" >
          <button [disabled]="!(model && model.agent && user && model.agent.id === user.id) || (model.actionStatus.alternateName === 'CompletedActionStatus' || model.actionStatus.alternateName === 'PotentialActionStatus' || model.actionStatus.alternateName === 'CancelledActionStatus')" type="button"
            class="btn btn-indigo dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" [translate]="'Requests.EffectiveStatus'"></button>
        </ng-container>
        <ng-container *ngIf="model.effectiveStatus != null && model.effectiveStatus.alternateName === 'AcceptedAttachmentsEffectiveStatus'" >
          <button [disabled]="!(model && model.agent && user && model.agent.id === user.id) || (model.actionStatus.alternateName === 'CompletedActionStatus' || model.actionStatus.alternateName === 'PotentialActionStatus' || model.actionStatus.alternateName === 'CancelledActionStatus')" type="button"
          class="btn btn-indigo dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" [translate]="'Attachments.Accept'"></button>
        </ng-container>
        <ng-container *ngIf="model.effectiveStatus != null && model.effectiveStatus.alternateName === 'RejectedAttachmentsEffectiveStatus'" >
          <button [disabled]="!(model && model.agent && user && model.agent.id === user.id) || (model.actionStatus.alternateName === 'CompletedActionStatus' || model.actionStatus.alternateName === 'PotentialActionStatus' || model.actionStatus.alternateName === 'CancelledActionStatus')" type="button"
          class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" [translate]="'Attachments.Reject'"></button>
        </ng-container>
        <ng-container *ngIf="model.effectiveStatus != null && model.effectiveStatus.alternateName === 'InvalidRequestDataEffectiveStatus'" >
          <button [disabled]="!(model && model.agent && user && model.agent.id === user.id) || (model.actionStatus.alternateName === 'CompletedActionStatus' || model.actionStatus.alternateName === 'PotentialActionStatus' || model.actionStatus.alternateName === 'CancelledActionStatus')" type="button"
          class="btn btn-indigo dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" [translate]="'Attachments.InvalidRequestData'"></button>
        </ng-container>
        <div class="dropdown-menu">
          <a [ngClass]="{ disabled: (model.effectiveStatus != null && model.effectiveStatus.alternateName === 'AcceptedAttachmentsEffectiveStatus') }" (click)="acceptRequestAttachments()"
            class="dropdown-item" href="javascript:void(0)" [translate]="'Attachments.Accept'" ></a>
          <a [ngClass]="{ disabled: (model.effectiveStatus != null && model.effectiveStatus.alternateName === 'RejectedAttachmentsEffectiveStatus') }" (click)="rejectRequestAttachments()"
            class="dropdown-item" href="javascript:void(0)" [translate]="'Attachments.Reject'"></a>
          <a  [ngClass]="{ disabled: (model.effectiveStatus != null && model.effectiveStatus.alternateName === 'InvalidRequestDataEffectiveStatus') }" (click)="invalidRequestData()"
            class="dropdown-item" href="javascript:void(0)" [translate]="'Attachments.InvalidRequestData'"></a>
            <a  [ngClass]="{ disabled: (model.effectiveStatus == null ) }" (click)="setUnknownEffectiveStatus()"
            class="dropdown-item" href="javascript:void(0)" [translate]="'Attachments.UnknownStatus'"></a>
        </div>
      </div>

      <div class="btn-group ml-2">
        <button [disabled]="!(model && model.agent && user && model.agent.id === user.id) || (model.actionStatus.alternateName !== 'ActiveActionStatus') || (model.effectiveStatus == null || model.effectiveStatus.alternateName == 'RejectedAttachmentsEffectiveStatus')" (click)="accept()" type="button"
          class="btn btn-indigo" [translate]="'Register.Accept'"></button>
        <button type="button" class="btn btn-indigo dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false" [disabled]="!(model && model.agent && user && model.agent.id === user.id)">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu">
          <button [disabled]="model.agent != null" (click)="claim()" 
            class="dropdown-item" [translate]="'Requests.Edit.claim'"></button>
            <button [disabled]="model.agent == null" (click)="release()" 
            class="dropdown-item" [translate]="'Requests.Edit.release'"></button>
          <a [ngClass]="{ 'disabled': model.actionStatus.alternateName !== 'ActiveActionStatus' || model.effectiveStatus == null || model.effectiveStatus.alternateName == 'RejectedAttachmentsEffectiveStatus' }" (click)="accept()"
            class="dropdown-item" href="javascript:void(0)" [translate]="'Register.Accept'"></a>
          <a [ngClass]="{ 'disabled': model.actionStatus.alternateName !== 'ActiveActionStatus' || model.effectiveStatus == null }" (click)="reject()"
            class="dropdown-item" href="javascript:void(0)" [translate]="'Register.Reject'"></a>
          <div class="dropdown-divider"></div>
          <a [ngClass]="{ 'disabled': !(model.actionStatus.alternateName === 'CancelledActionStatus' || model.actionStatus.alternateName === 'FailedActionStatus') }"
            class="dropdown-item" href="javascript:void(0)" (click)="revert()" [translate]="'Register.Revert'"></a>
          <a [ngClass]="{ 'disabled': model.actionStatus.alternateName === 'PotentialActionStatus' || model.actionStatus.alternateName === 'CompletedActionStatus' }"
            class="dropdown-item" href="javascript:void(0)" (click)="reset()" [translate]="'Register.Reset'"></a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="model">
  <div class="col-8">
    <div class="card">
      <div class="card-body">
        <advanced-form-edit #form formName="HousingRequestActions/preview-admin" [(data)]="model">
        </advanced-form-edit>
        <!--start:attachments-->
        <div class="mt-4" *ngIf="model && model.attachments && model.attachments.length">
          <legend ref="header" [translate]="'Register.Attachments'"></legend>
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let item of model.attachments">
              <div class="d-flex">
                <div class="justify-content-center mr-3">
                  <i class="far fa-file-alt fa-2x text-secondary" *ngIf="item.published === true"></i>
                  <i class="far fa-times-circle fa-2x text-secondary" *ngIf="item.published !== true"></i>
                </div>
                <div class="justify-content-start mr-auto">
                  {{item.attachmentType.name}}
                  <div class="text-secondary">
                    {{item.contentType}}
                  </div>
                  <div class="text-secondary">
                    <span [translate]="'Register.DateModified'"></span>
                    <span>&nbsp;</span>
                    <span>{{item.dateModified | date: 'short'}}</span>
                  </div>
                </div>
                <div class="justify-content-end">

                  <div class="btn-group">
                    <ng-container *ngIf="item.contentType !== 'application/pdf'">
                      <button (click)="download(item)" type="button" class="btn btn-theme"
                        [translate]="'Register.Download'"></button>
                    </ng-container>
                    <ng-container *ngIf="item.contentType === 'application/pdf'">
                      <button (click)="openAttachmentPreview(item)" class="btn btn-theme z-index-0"
                        [translate]="'Register.Preview'"></button>
                    </ng-container>
                    <button type="button" class="btn btn-theme dropdown-toggle dropdown-toggle-split"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="sr-only"></span>
                    </button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" (click)="download(item)" href="javascript:void(0)">
                        <i class="fas fa-download mr-2"></i><span [translate]="'Register.Download'"></span>
                      </a>
                      <a (click)="openAttachmentPreview(item)" href="javascript:void(0)" class="dropdown-item">
                        <i class="fas fa-search mr-2"></i><span [translate]="'Register.Preview'"></span>
                      </a>
                      <a (click)="rejectAttachment(item, templateRejectAttachment)" href="javascript:void(0)" class="dropdown-item" *ngIf="model.actionStatus.alternateName === 'ActiveActionStatus' && item.published === true">
                        <i class="far fa-trash-alt"></i><span [translate]="'Register.Reject'"></span>
                      </a>
                      <a (click)="revertAttachment(item)" href="javascript:void(0)" class="dropdown-item" *ngIf="model.actionStatus.alternateName === 'ActiveActionStatus' && item.published === false">
                        <i class="fas fa-redo"></i><span [translate]="'UniversisHousingModule.RevertAttachment'"></span>
                      </a>                      
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
          <div class="card" *ngIf="model.attachments && model.attachments.length === 0">
            <div class="card-body">
              <h4 [translate]="'Register.NoAttachments'" class="text-secondary font-weight-normal mb-0">
              </h4>
            </div>
          </div>
        </div>
        <!--end:attachments-->
        <!--start: messages-->
        <div id="show-messages">
        <ng-container *ngIf="model">
          <div class="mt-4">
            <ng-container *ngIf="messages">
              <legend ref="header">
                <span [translate]="'Register.Messages'"></span>
                <ng-container *ngIf="messages.length">
                  <button *ngIf="!showNewMessage" type="button" (click)="showNewMessage = true"
                    class="ml-2 btn btn-sm btn-default text-indigo d-inline text-lowercase"
                    title="{{'Register.NewMessage' | translate}}">
                    <i class="fas fa-paper-plane"></i>
                    <span class="ml-2" [translate]="'Register.NewMessage'"></span>
                  </button>
                </ng-container>
              </legend>

              <ng-container *ngIf="showNewMessage">
                <housing-compose-message (submit)="send(newMessage)" (cancel)="showNewMessage = false"
                  [(model)]="newMessage"></housing-compose-message>
              </ng-container>

              <div class="card" *ngFor="let message of messages">
                <div class="card-body">
                  <div>
                    <span class="float-right text-dark">{{ message?.dateCreated | date:'short' }}</span>
                    <div class="card-title  font-lg font-weight-normal pb-1">
                      <span *ngIf="message.subject == null" [translate]="'Register.NoSubject'"></span>
                      <span *ngIf="message.subject != null">{{message.subject}}</span>
                    </div>
                  </div>
                  <div class="card-text mb-0 pb-2 border-left border-left-4 border-gray-200 pl-4"
                    [innerHTML]="message.body"></div>
                  <div *ngIf="message?.attachments.length>0" class="mt-2">
                    <button type="button" class="btn btn-light"
                      (click)="downloadFile(message?.attachments[0])">{{ 'Reports.Viewer.Download' | translate }}</button>
                  </div>
                </div>
              </div>
              <div class="card" *ngIf="messages.length === 0">
                <div class="card-body">
                  <h4 class="text-secondary font-weight-normal mb-0">
                    <span [translate]="'Register.NoMessages'"></span>
                    <button *ngIf="!showNewMessage" type="button" (click)="showNewMessage = true"
                      class="float-right btn btn-default text-indigo text-lowercase"
                      title="{{'Register.NewMessage' | translate}}">
                      <i class="fas fa-paper-plane"></i>
                      <span class="ml-2" [translate]="'Register.NewMessage'"></span>
                    </button>
                  </h4>
                </div>
              </div>

            </ng-container>
          </div>
        </ng-container>
        </div>
        <!--end:messages-->
      </div>
    </div>
  </div>

  <div class="col-4">
  <lib-review [model]="model"></lib-review>

    <housing-student-side-preview [model]="model"></housing-student-side-preview>
    <ng-container *ngIf="otherApplications.length">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ 'NewRequestTemplates.HousingRequestAction.History' | translate }}</h5>
          <ng-container *ngFor="let otherApplication of otherApplications">
            <div class="mb-2">
              <a class="btn btn-gray-100"
                [routerLink]="[ '/requests', 'housing', 'index' , { outlets: { modal: ['item', otherApplication.id, 'edit'] } }]">
                <span>{{ 'NewRequestTemplates.HousingRequestAction.Name' | translate }}</span>
                <span>&nbsp;</span>
                <span [translate]="'Register.DateModified'"></span>
                <span>&nbsp;</span>
                <span>{{ otherApplication.dateModified | date: 'short' }}</span>
              </a>
            </div>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </div>
</div>
<housing-attachment-download (close)="closeAttachmentPreview($event)" #attachmentDownload></housing-attachment-download>

<ng-template #templateRejectAttachment>
  <div class="modal-header">
    <h4 class="modal-title pull-left" [translate]="'UniversisHousingModule.RejectAttachmentModal.Title'"></h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body mt-0 mb-0 text-center">
    <div>
      <p class="text-secondary text-left" [translate]="'UniversisHousingModule.RejectAttachmentModal.Help'"></p>
    </div>
    <form class="p-3 text-center" #rejectAttachmentForm="ngForm" >
      <div [ngVar]="{ name: null }" #model="ngVar">
        <input [(ngModel)]="model.value.name" [required]="true"  id="rejectionName" name="rejectionName" type="text" class="form-control" placeholder="{{ 'UniversisHousingModule.RejectAttachmentModal.RejectionNamePlaceholder' | translate }}"/>
        <div class="btn-group mt-4">
          <button [disabled]="rejectAttachmentForm.invalid" type="button" class="btn btn-primary" (click)="confirmRejectAttachmentModal(model.value.name)" [translate]="'UniversisHousingModule.RejectAttachmentModal.Accept'"></button>
          <button type="button" class="btn btn-gray-300 text-white" (click)="closeRejectAttachmentModal()" [translate]="'UniversisHousingModule.RejectAttachmentModal.Close'"></button>
        </div>
      </div>
    </form>
  </div>
</ng-template>
</ng-container>