<div>
  <div class="modal-header d-none">
    <button (click)="cancel()" type="button" class="close" data-dismiss="modal"
      aria-label="Cancel">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body px-0 py-0">
    <housing-edit-action [showNavigation]="false" [showActions]="showActions"></housing-edit-action>
  </div>
</div>
