<ul class="nav d-flex mb-2" *ngIf="showNavigation">
    <li class=" tab-brand disabled">
      <a class="text-secondary nav-link pl-0 font-lg" [routerLink]="['/candidates', 'list']">
        <i class="fa fa-chevron-left pr-1"></i><span
          [translate]="'UniversisHousingModule.HousingCardsTemplates.HousingCard.Name'"></span></a>
    </li>
  </ul>
  <div class="col-12" *ngIf="model">
    <div class="row mb-2">
      <div class="col-auto">
        <h2 class="mb-0 pt-2">{{ 'UniversisHousingModule.HousingCardsTemplates.HousingCard.Name' | translate}}
          <h5>{{model.student.person.givenName}} {{model.student.person.familyName}}</h5>
        </h2>
      </div>
      <div *ngIf="showActions" class="col-auto px-2 py-0 ml-auto">
        <div class="btn-group ml-2">
          <ng-container *ngIf="model.active == true">
            <button (click)="cancel(templateCancelCard)" type="button" class="btn btn-indigo" [disabled]="(model.active == true ? (model?.action?.actionStatus?.alternateName !== 'CompletedActionStatus'? true: false ): true)"
              [translate]="'UniversisHousingModule.HousingCardsTemplates.CancelItem'"></button>
          </ng-container>
          <ng-container *ngIf="model.active == false">
            <button (click)="reactivate(templateReactivateCard)" type="button" class="btn btn-indigo" [disabled]="(model.active == false ? (model?.action?.actionStatus?.alternateName !== 'CompletedActionStatus'? true: false ): true)" 
              [translate]="'UniversisHousingModule.HousingCardsTemplates.ReactivateItem'"></button>
          </ng-container>
          <button type="button" class="btn btn-indigo dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
          </button>
          <div class="dropdown-menu">
            <a [ngClass]="{ 'disabled': (model.active == true ? (model?.action?.actionStatus?.alternateName !== 'CompletedActionStatus'? true: false ): true)}" (click)="cancel(templateCancelCard)" class="dropdown-item"
              href="javascript:void(0)" [translate]="'UniversisHousingModule.HousingCardsTemplates.CancelItem'"></a>
            <a [ngClass]="{ 'disabled': (model.active == false ? (model?.action?.actionStatus?.alternateName !== 'CompletedActionStatus'? true: false ): true)}" (click)="reactivate(templateReactivateCard)"
              class="dropdown-item" href="javascript:void(0)"
              [translate]="'UniversisHousingModule.HousingCardsTemplates.ReactivateItem'"></a>
            <!-- <div class="dropdown-divider"></div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="model">
    <div class="col-8">
          <advanced-form-edit #form formName="StudentHousingCards/edit" [(data)]="model">
          </advanced-form-edit>
    </div>
    <div class="col-4">
      <lib-card-side-preview [model]="model"></lib-card-side-preview>
    </div>
  </div>
   <ng-template #templateCancelCard>
    <div class="modal-header">
      <h4 class="modal-title pull-left" [translate]="'UniversisHousingModule.CancelCardModal.Title'"></h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body mt-0 mb-0 text-center">
      <div>
        <p class="text-secondary text-left" [translate]="'UniversisHousingModule.CancelCardModal.Help'"></p>
      </div>
      <form class="text-center" #cancelCardForm="ngForm" >
        <div [ngVar]="{ cancelReason: null }" >
          <input [(ngModel)]="cancelReason" [required]="true"  id="cancelReason" name="cancelReason" type="text" class="form-control" placeholder="{{ 'UniversisHousingModule.CancelCardModal.CancelNamePlaceholder' | translate }}"/>
          <div class="modal-footer">
            <button [disabled]="cancelCardForm.invalid" type="button" class="btn btn-primary" (click)="confirmCancelCardActiveRequestModal(cancelReason)" [translate]="'UniversisHousingModule.CancelCardModal.CancelCardActiveRequest'"></button>
            <button [disabled]="cancelCardForm.invalid" type="button" class="btn btn-primary" (click)="confirmCancelCardModal(cancelReason)" [translate]="'UniversisHousingModule.CancelCardModal.Accept'"></button>
            <button type="button" class="btn btn-gray-300 text-white" style="min-width: 2rem" (click)="modalRef.hide()" [translate]="'UniversisHousingModule.CancelCardModal.Close'"></button>
          </div>
        </div>
      </form>
    </div>
  </ng-template> 
  <ng-template #templateReactivateCard>
    <div class="modal-header">
      <h4 class="modal-title pull-left" [translate]="'UniversisHousingModule.ReactivateCardModal.ResetConfirm.Title'"></h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body mt-0 mb-0 text-center">
      <div>
        <p class="text-secondary text-left" [translate]="'UniversisHousingModule.ReactivateCardModal.ResetConfirm.Message'"></p>
      </div>
      <form class="p-3 text-center">
        <div>
          <div class="btn-group mt-4">
            <button type="button" class="btn btn-primary"
              (click)="confirmReactivateCardModal()"
              [translate]="'UniversisHousingModule.ReactivateCardModal.Accept'"></button>
              <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1"></div>
            <button type="button" class="btn btn-gray-300 text-white" (click)="modalRef.hide()"
              [translate]="'UniversisHousingModule.ReactivateCardModal.Close'"></button>
          </div>
        </div>
      </form>
    </div>
  </ng-template>
  
  
  
  