.color-green {
  background-color: green;
}

div.housing-panel-wrapper-for-active > div.card > div.card-header{
  border-bottom: 1px solid #c2cfd6;
  background-color: #4DBD74;
  color: white;
  font-size: large;
}

div.housing-panel-wrapper-for-suspended > div.card > div.card-header{
  border-bottom: 1px solid #c2cfd6;
  background-color: #F86C6B;
  color: white;
  font-size: large;
}

